* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  /* background: url(); */
}
/* 总的容器 */
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;



}

/* 第一个盒子 */
.container .peronInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background: rgba(70, 63, 63, 0.3);
  margin: 5px;
  justify-content: space-around;
  border-radius: 10px;
}
.container .peronInfo::before {
  content: "";
  width: 80vw;
  height: 40w;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  filter: blur(20px);
  z-index: -1;
  background: url(https://i2.w.hjfile.cn/doc/201307/9a9d31da98704a718df3535f7b16b0b3.jpg);
  -webkit-filter: blur(20px);
  display: none;
}

.container .peronInfo .personInfoBox1 {
  display: flex;
  flex-direction: column;

}

.container .peronInfo .personInfoBox2 {
  display: flex;
  flex-direction: column;
}

/* 头像 */
.container .peronInfo .avatar1 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  animation: avatorAni 3s infinite;
  transition: animation ease-in 0.5s;
  border: 2px solid #08aeea;
}

/* 头像动画 */
@keyframes avatorAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .peronInfo .personInfoBox1 {
  position: relative;
}
.container .peronInfo .personInfoBox1 span {
  margin: 20px 0px;
  color: #fff;
  font-size: 20px;
}
.container .peronInfo .personInfoBox2 {
  position: relative;
}
.container .peronInfo .personInfoBox2 span {
  margin: 20px 0px;
  color: #fff;
  font-size: 20px;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* 第一列图标 */
.container .peronInfo .personInfoBox1 .icon img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 15px;
}
/* 第二例图标 */
.container .peronInfo .personInfoBox2 .icon img {
  width: 20px;
  height: 20px;
  margin: 5px;
}
/* 第二个盒子 */
.container .peronDetailBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container .peronDetailBox .skill {
  position: relative;
  margin: 5px;
  background: rgba(70, 63, 63, 0.3);
  padding: 20px 15px 20px 20px;
  flex: auto;
  border-radius: 10px;
}
.container .peronDetailBox .skill div {
  margin: 10px 10px 0px 0;
  font-size: 15px;
}
.container .peronDetailBox .skill > div:nth-child(1) {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.container .peronDetailBox .skill .skillBox .skillBox1 {
  color: #fff;
  font-size: 15px;
}

.container .peronDetailBox .skill .skillBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container .peronDetailBox .skill .skillBox2 div {
  width: 100px;
  height: 20px;
  background: cornflowerblue;
}

.container .peronDetailBox .introduction {
  position: relative;
  background: rgba(70, 63, 63, 0.3);
  margin: 5px;
  padding: 20px 20px 20px 15px;
  flex: auto;
  border-radius: 10px;
}
.container .peronDetailBox .introduction > div {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.container .peronDetailBox .introduction div {
  margin: 0 0 0 50px;
  padding: 8px;
}
.container .peronDetailBox .introduction li {
  margin: 10px;
  font-size: 15px;
  color: #fff;
  list-style-type: circle;
}
